<hr class="line">
<div class="row" *ngIf="(movieDetail$ | async) as movie; else loading">
  <!--Render image to the first 4 cols of the grid-->
  <div class="col-md-4"> 
    <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="img-fluid rounded">
    <p>
      <a *ngIf="movie.homepage" href="{{movie.homepage}}" class="btn btn-info btn-block mt-2">Visit website</a>
    </p>
  </div>
  <!--Render the rest and info in the remaining 8 cols-->
  <div class="col-md-8">
    <div class="display-3">{{movie.title}}</div>  
    <h3 class="mt-2">Rating: {{movie.vote_average}} <i class="fas fa-star rating"></i></h3>
    <h3>Released on: {{movie.release_date}}</h3>
    <blockquote class="blockquote"><em>{{movie.tagline}}</em></blockquote>
    <hr class="line">   
    <h3>Genre(s)</h3>
    <h4><span class="badge badge-warning mx-1 my-1" *ngFor="let genre of movie.genres">{{genre.name}}</span></h4>    
    <hr class="line"> 
    <h3>Overview</h3>
    <p>{{movie.overview}}</p>    
  </div>
</div>
<hr class="line">

<div class="row" *ngIf="(movieCast$ | async) as cast; else loading">
    <div class="col-md-12">
      <div class="text-center display-4">Cast</div>
    </div>
    <div class="col-md-3" *ngFor="let actor of cast">
    <div class="thumbnail">
      <!--Image src is hardcoded except for the image path that comes with the movieCast object-->
      <img class="img-fluid rounded" src="https://image.tmdb.org/t/p/w500/{{actor.profile_path}}">    
      <h4 class="text-center">{{actor.name}}</h4>      
    </div>
    </div>
  </div>
  <hr class="line">
<div class="row" *ngIf="(movieVideos$ | async) as videos; else loading">
  <div class="col-md-12" >
    <div class="text-center display-4" *ngIf="videos.length === 1">Video</div>  
    <div class="text-center display-4" *ngIf="videos.length > 1">Videos</div>  
    <div class="row">
      <div class="col-md-6 mt-2" *ngFor="let v of videos">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" [src]="v.safeUrl" allowfullscreen></iframe>
        </div>    
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="text-center" >
    <span><h2>Loading...</h2><i class="fa fa-spinner fa-spin fa-5x fa-fw"></i></span>
  </div>
</ng-template>