<!--NAV BAR-->
<smx-navigation></smx-navigation>
<div class="container mt-2">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div> 
  </div> 
  <hr>
  <footer class="footer">
    <div class="container">
      <div class="row">
          <small class="lead text-muted text-center col-md-12">&copy; 2018 - Tom Baten - Sigmax Angular Training</small>                 
          <small class="lead text-muted text-center col-md-12">Built with Angular {{version}}</small> 
      </div>       
    </div>
  </footer>
</div>